.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#basic-home{
  border: 2px solid black;
  padding: 20px;
  margin: 75px;
  width: 500px;
}
#login-basic{
  margin: 45px;
  width: 45%;
  padding: 30px;
  background: #BBFCBA;
  border: 1px solid #000000;
  border-radius: 30px;
}
#signup-basic{
  margin: 20px;
}
body{
  overflow-x: hidden;
}
#logo-img{
  height: 25px;
  width: 25px;
}
#header{
  background-color: aquamarine;
  justify-content:space-around;
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 35px;
  padding: 5px;
}
html, body {
  margin : 0;
  padding : 0;
}
#social-media-icon{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 150px;
}
#forum-heading{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 30px;
  width: 50%;
}
#border-add{
  border: 2px solid black;
}
#forum-display1{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20px;
  border: 2px solid black;
  width: 50%;
}
#footer{
  display: block;
  width:100%;
  margin-top:120px;
  background-color: rgba(165, 42, 42, 0.32);
  padding: 10px;
}
#add-icon{
  float: right;
}
#head-view{
  text-align: center;
}
#title-view{
  font-family: 'Oxanium', cursive;
  font-size: 80px;
}
#title2-view{
  font-family: 'Changa', sans-serif;
  font-size: 22px;
}
#hr-view{
  width: 75%;
  margin: auto;
  border: 1px solid #000000;
  margin-bottom: 20px;
}
#content-view{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
#box-view{
  background: #96FCE3;
  box-shadow: 5px 10px 10px #79D3BE;
  border-radius: 40px;
  padding: 20px;
  margin: 50px;
}
#box-hr-view{
  border: 1px solid #000000;
  margin: 10px;
}
#box-text-view{
  font-family: 'Oxanium', cursive;
  font-size: 18px;
  text-align: left;
}
#box-button-view{
  height: 35px;
  margin: 10px;
  background: #F5A3A3;
  border-radius: 40px;
  font-family: 'Oxanium', cursive;
}
#box-title-view{
  font-family: 'Urbanist', sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
#full-content-view{
  width:320px;
}
#head-login{
  text-align: center;
}
#title-login{
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding: 15px;
}
#button-login{
  background: #ECFFEB;
  border: 1px solid #000000;
  border-radius: 29px;
  width: 100px;
  height: 25px;
}
#new-login{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#input-login{
  background: #FFF8F8;
  border: 1px solid #000000;
  border-radius: 10px;
  width:50%;
}
input::placeholder{
  text-align: center;
}
option{
  text-align: center;
}
#label-login{
  font-family: 'Urbanist', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  text-align: left;
}
#title-signup{
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 5px;
}