.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#basic-home{
  border: 2px solid black;
  padding: 20px;
  margin: 75px;
  width: 500px;
}
#login-basic{
  margin: 80px;
}
#signup-basic{
  margin: 40px;
}
body{
  background-color: rgba(255, 127, 80, 0.523);
  display: flex;
  flex-direction: column;
  height: 100%;
}
#logo-img{
  height: 25px;
  width: 25px;
}
#header{
  background-color: aquamarine;
  justify-content:space-around;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 35px;
  padding: 5px;
}
html, body {
  margin : 0;
  padding : 0;
}
#social-media-icon{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 150px;
}
#forum-heading{
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 40px;
}
#forum-display1{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20px;
  border: 2px solid black;
  width: 50%;
}
#footer{
  display: block;
  margin-top:120px;
  background-color: rgba(165, 42, 42, 0.32);
  padding: 10px;
}